.Header{
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    font-size: 50px;
    color: mediumspringgreen;
}

.image{
    
    width: 55px;
    height: 55px;
    padding: 10px;
}

